* {
    margin: 0px;
}

body {
    font-family: Helvetica;
}

ul {
    text-align: center;
    padding: 15px;
    margin: 0px;
    background-color: white;
    list-style: none;
    text-decoration: none;
    position: sticky;
    top: 0;
}

li {
    width: 150px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: coral;
}

a {
    text-decoration: none;
    display: block;
    color: inherit;
}

a:hover {
    background-color: coral;
    color: white;
    width: 150px;
    line-height: 25px;
}

div {
    margin: 10px;
}