h1 {
    color: crimson;
}

body {
    font-family: sans-serif;
}

nav {
    background-color: darkkhaki;
    position: sticky;
    top: 0;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: inline-block;
    text-align: center;
}

li {
    width: 100px;
    display: inline-block;
    line-height: 30px;
    text-align: center;
}

a {
    text-decoration: none;
    display: block;
    color: white;
}

img {
    max-width: 1024px;
    margin-top: 10px;
}

div {
    align-content: center;
    align-self: center;
    margin: auto;
}

a:hover {
    background-color: #e91e63;
    color: burlywood;
}