   * {
       box-sizing: border-box;
   }
   
   body {
       text-align: center;
       position: relative;
       margin: 0px;
       top: 0px;
       background-repeat: no-repeat;
       font-family: 'Open Sans', sans-serif;
   }
   
   .portada {
       background-image: url(https://i.pinimg.com/236x/ab/ac/14/abac144f2178e51c356fe36a8ee3ccac.jpg);
       background-size: cover;
       width: auto;
       min-height: 100vh;
       display: flex;
   }
   
   .button {
       text-decoration: none;
       color: black;
       background: rgba(255, 255, 255, 50);
       position: relative;
       margin: auto auto;
       padding: 5px;
       border-radius: 10px;
       font-size: 40px;
       font-weight: 800;
       transition: 2s;
       display: inline-block;
   }
   
   .button:active {
       transition: 1s;
       transform: scale(.9);
   }
   
   .button:hover {
       background-color: skyblue;
   }
   
   header {
       background: black;
       display: flex;
       justify-content: space-between;
       align-items: center;
   }
   
   nav ul {
       display: flex;
   }
   
   nav li {
       list-style: none;
       margin-top: 10px;
   }
   
   nav a {
       color: white;
       text-decoration: none;
   }
   
   .menu {
       font-size: 20px;
   }
   
   @media screen and (max-width:1920 px) {
       .portada {
           background-size: contain;
           background-repeat: no-repeat;
       }
   }
   
   @media screen and (max-width:1600px) {
       .portada {
           background-size: contain;
       }
   }
   
   @media screen and (max-width:1400px) {
       .portada {
           background-size: contain;
       }
   }
   
   @media screen and (max-width:1200px) {
       .portada {
           background-size: contain;
       }
   }
   
   @media screen and (max-width:1000px) {
       .portada {
           background-size: contain;
           width: auto;
       }
   }
   
   @media screen and (max-width:800px) {
       .portada {
           width: auto;
           background-repeat: no-repeat;
           background-size: contain;
       }
   }
   
   @media screen and (max-width:650px) {
       .portada {
           background-size: contain;
       }
   }
   
   @media screen and (max-width:400px) {
       .portada {
           background-size: contain;
       }
   }
   
   @media screen and (max-width:300px) {
       .portada {
           background-size: contain;
           height: auto;
       }
   }